importFrom(IHSEP,simHawkes1,simPois)
importFrom("stats", "dexp", "dweibull", "optim", "optimize", "pexp",
           "pweibull", "rweibull", "sd", "var", "weighted.mean")
exportPattern("^[[:alpha:]]+")
