importFrom(IHSEP,simHawkes1,simHawkes1a,simPois,simoffspring)
exportPattern("^[[:alpha:]]+")
importFrom("stats", "dexp", "dweibull", "optim", "optimize", "pexp",
           "pweibull", "qexp", "rweibull", "sd", "var",
           "weighted.mean")
importFrom("utils", "head", "tail")
